@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.heading{
	text-align: center;
}
li >button{
	
	margin:0;
	width:100%;
	padding: .2rem;
/* border: none;
background: none; */
	
}

ul{
	padding: 0;
	background-color: grey;
	height:5rem;
	width:12rem;
	overflow: hidden;
	overflow-y: scroll;
}
tr{
	text-align:center;
}
td{
	border: solid black .095rem;
}
.input_grid{
	width:100%;
	display:grid;
	 grid-template-columns:1fr 1fr 1fr 1fr;
	 grid-template-rows:1fr;
	 grid-template-areas:
	 "name rate qty amt"
}
#name_grid{
	grid-area:name;
}
#rate_grid{
	grid-area:rate;
}
#qty_grid{
	grid-area:qty;
}
#amt_grid{
	grid-area:amt;
}
/*@media only screen and (max-width: 800px) {
	.maindiv{
  		width:58rem;
			font-size: 2rem;
			
  		background-color: blue;
  	}
	input{
		font-size: 2rem;
	}
	button{
		font-size: 2rem;
		width:10rem;
	}
}*/