<!DOCTYPE html>
<html>
	<head>
		<!--  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" > -->
		 <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=22" >
		<title>ShopBillingWeb</title>
	</head>
	<body >
		<div class="maindiv">
			<div class="table_div">
				<h1 class='heading'>Gain Stores</h1>


				<table style="width:100%" id=>
					<tr>
						<th>Item</th>
						<th>Rate</th>
						<th>Qty</th>
						<th>Amt</th>
					</tr>
<!--  Items appear here
				<tr >
					<td>Rice</td>
					<td>60</td>
					<td>5</td>
					<td>300</td>

				</tr> -->

				</table>
				<table style="width:100%" id=>
					<td>Total</td>
					<td id='Total'>0</td>
				</table>
				<table style="width:100%" id=>
					<tr>
						<td>Amt Paid</td>
						<td id='amt_paid'>0</td>
						<td>Balance</td>
						<td id='balance'>0</td>
					</tr>
				</table>
			</div>
			<div id='input_div' >

				<form class='no-print' data-lastchanged='rate'>
					<div class='input_grid'>
						<span  class="grid_item" id="name_grid">
							<label for="iname">Item name:</label>
							<input type="text" id="iname" name="Iname" onfocus="changeCurrentFocus(0)" >
						</span>
						<span  class="grid_item" id="rate_grid">
							<label for="rate">Rate:</label>
							<input type="text" id="rate" name="rate" onfocus="changeCurrentFocus(1)" >
						</span>
						<span  class="grid_item" id="qty_grid">
							<label for="qty">Qty:</label>
							<input type="text" id="qty" name="qty" onfocus="changeCurrentFocus(2)">
						</span>
						<span  class="grid_item" id="amt_grid">
							<label for="amt">Amt:</label>
							<input type="text" id="amt" name="amt" onfocus="changeCurrentFocus(3)">
						</span>
					</div>

				</form>

				<button id="itembutton" class='no-print'>Add Item</button>
				<br>
				<ul class='no-print' style="list-style-type:none;">

				</ul>


			<form class='no-print'>
			<label for="iname">Payment</label>
				<input type="text" id="payment" name="payment" value="0">
			</form>
			<button id="paymentbutton" class='no-print'>Add Payment</button>
			<button id="printbutton" class='no-print' onclick='print1()'>Print</button>

		</div>
	</div>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	
<!-- 		<script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='popper.min.js') }}" ></script>
		<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script> -->


	</body>
</html>